.dashboard-container {
  height: 100%;

  > .sidebar {
    position: fixed;
    width: calc(100% - var(--main-width));
    height: 100vh;
    min-width: 200px;
  }

  > .main {
    width: var(--main-width);
    margin-left: calc(100% - var(--main-width));
    padding: var(--spacing-xxl);
    height: 100%;

    > .router {
      margin-top: 180px;
    }
  }
}
