@import '../styles/mixins';

.dashboard-container {
  height: 100%;

  > .sidebar {
    position: fixed;
    width: calc(100% - var(--main-width));
    height: 100vh;
    min-width: 200px;

    @include mobile {
      width: 100%;
      height: auto;
    }
  }

  > .main {
    width: var(--main-width);
    margin-left: calc(100% - var(--main-width));
    padding: var(--spacing-xxl);
    height: 100%;

    @include mobile {
      width: 100%;
      margin-left: 0;
    }

    > .router {
      margin-top: 180px;

      @include mobile {
        margin-top: 260px;
      }
    }
  }
}
