.dashboard-container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);

  > .sidebar-container {
    grid-column: 1 / span 2;
    z-index: 2;
  }

  > .main-container {
    position: relative;
    grid-column: 3 / span 10;
    padding: var(--spacing-xxl);
    width: 100%;

    > .router-container {
      margin-top: 200px;
    }
  }
}
