@import '../styles/mixins';

.header-container {
  top: 0;
  padding-top: var(--spacing-xxl);
  padding-bottom: var(--spacing-m);
  position: fixed;
  display: flex;
  flex-direction: column;
  left: calc(100% - var(--main-width));
  align-items: center;
  width: var(--main-width);
  background: var(--color-background);
  z-index: 1;

  @include mobile {
    top: 126px;
    width: 100%;
    left: 0;
    padding: var(--spacing-m);
  }
}
