@import '../styles/mixins';

.sidebar-container {
  background: var(--color-dark);
  height: 100%;
  padding: var(--spacing-l) var(--spacing-m);

  .title {
    color: var(--color-light);
    text-align: center;
    margin-bottom: var(--spacing-xxl);

    @include mobile {
      margin-bottom: var(--spacing-s);
    }
  }

  ul {
    @include mobile {
      display: flex;
      justify-content: center;
    }
  }

  li {
    color: var(--color-light);
    margin: var(--spacing-m) 0;

    @include mobile {
      margin: 0 var(--spacing-m);
    }

    .active {
      text-decoration: underline;
    }
  }
}
