:root {
  --spacing-xs: 4px;
  --spacing-s: 8px;
  --spacing-m: 16px;
  --spacing-l: 24px;
  --spacing-xl: 32px;
  --spacing-xxl: 48px;

  --main-width: 80%;

  --color-dark: #424242;
  --color-light: #f5f5f5;

  --color-background: #eeeeee;
}
