.robots-list-container {
  width: 100%;
  margin-top: var(--spacing-xl);

  > .new-robot-container {
    display: flex;
    justify-content: center;
    margin-bottom: var(--spacing-m);
  }

  > .list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(min(500px, 100%), 1fr));
    gap: var(--spacing-m);
  }
}
